<div id="box">
<!-- test -->
  <div class="dashboard-container">
    <div class="dashboard-header"></div>
    <div class="bookings-container">
      <h3>Your bookings</h3>
      <ul class="list-group">
        <% current_user.bookings.each do |booking| %>
        <li class="list-group-item">
          <%= link_to bookings_path(current_user.booking) do %>
            In <b><%= booking.yacht.location %></b> from <%= booking.start_date.strftime("%B %e, %Y at %I:%M %p") %> to <%=booking.end_date.strftime("%B %e, %Y at %I:%M %p") %>
        <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <% if current_user.yachts %>
    <div class="yachts-container">
        <h3>Your Yachts</h3>
        <ul class="list-group">
          <% current_user.yachts.each do |yacht| %>
          <li class="list-group-item"><%= link_to yacht.name, yacht_path(yacht) %> | <%= link_to "Delete", yacht_path(yacht) %></li>
          <% end %>
        </ul>
        <h4><%= link_to "Host Your Yacht Today", new_yacht_path, class: "navbar-wagon-item navbar-wagon-link" %></h4>

    </div>
    <% end %>
  </div>

</div>
