<div class="container">
  <h1><%=@yacht.name%></h1>

  <div class="content-show">
    <div class="show-card">
      <%= cl_image_tag @yacht.photo, id: "cloudinary-user" %>
      <div class="characteristic">
        <dl class="dl-horizontal">
          <dt>Location</dt>
          <dd><%= @yacht.location %></dd>
          <dt>Boat type</dt>
          <dd><%= @yacht.boat_type %></dd>
          <dt>Description</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</dd>
        </dl>
      </div>
    </div>
      <%= render "bookings/new"%>

      <h1 style="font-size:22px;font-family:sans-serif;word-spacing:2px;">Pure JS Calendar Example</h1>
      <input type="button" value="Open calendar" onclick="pureJSCalendar.open('dd.MM.yyyy', 20, 30, 1, '2018-5-5', '2019-8-20', 'txtTest', 20)" />
      <input type="button" value="Close calendar" onclick="pureJSCalendar.close()" />
      <input type="text" id="txtTest" />
  </div>
</div>
