<div class="container">
  <h1><%=@yacht.name%></h1>

  <div class="content-show">
    <div class="show-card">
      <%= cl_image_tag @yacht.photo, id: "cloudinary-user" %>
      <div class="characteristic">
        <dl class="dl-horizontal">
          <dt>Location</dt>
          <dd><%= @yacht.location %></dd>
          <dt>Boat type</dt>
          <dd><%= @yacht.boat_type %></dd>
          <dt>Description</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</dd>
        </dl>
      </div>
    </div>
      <%= render "bookings/new"%>
  </div>
</div>











